<form class="" action="/insecure" method="post">
  <input type="email" name="email" value="" placeholder="Email Address">
  <button type="submit" name="button">Generate Student Link</button>
</form>

<h2>Recent Submissions</h2>

{{#each submissions}}
  <a href='/{{_id}}'>{{email}}</a>
{{/each}}
